/* Branch.css */

.branch-card {
    width: 350px; 
    background-color: var(--accent); 
    padding: 20px;
    margin: 0 15px 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .branch-card h2 {
    font-family: var(--font-price);
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 15px;
  }

  .location{
    font-family: var(--font-price);
    color: #d7d7d7;
    width: 90%;
    margin-bottom: 25px;
  }
  
  .phone {
    margin-bottom: 25px;
  }

  .branch-card a {
    font-weight: 550;
    margin-top: auto; 
    align-self: flex-end; 
    padding: 8px 16px;
    background-color: var(--primary); 
    color: var(--accent); 
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .branch-card a:hover {
    background-color: #220001; 
    color: var(--primary); 
  }
  

  @media only screen and (max-width: 776px) {
    .branch-card{
        width: 300px;
        margin: 0 0px 15px 0;
    }
  }