.menu-section {
    padding: 75px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
  }
  
  .menu-section.fade-up {
    animation: fadeUp 0.4s ease-out forwards;
  }
  
  .accent {
    color: var(--accent);
    font-family: var(--font-accent);
  }
  
  .menu-section .info {
    width: 650px;
    text-align: center;
    margin-bottom: 28px;
  }
  
  .menu-button {
    font-family: var(--font-accent);
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: var(--background);
    background-color: var(--accent);
    padding: 8px 12px;
    border: 2px solid var(--accent);
    transition: color 0.4s ease, background-color 0.4s ease;
  }
  
  .menu-button:hover {
    color: var(--accent);
    background-color: rgba(0, 0, 0, 0);
  }
  
  @media only screen and (max-width: 676px) {
    .menu-section .info {
      width: 80vw;
    }
  }